<h1>
  <%= recipe.title %>
</h1>
<br>
<hr>
<img height="350px" width="500px" src="/uploads/images/pexels-ella-olsson-1640777.jpg" alt="">
<h6>adag = <%= recipe.portion %>
</h6>
<h6>költség = <%= recipe.cost %>
</h6>
<h6>nehézség = <%= recipe.difficulty %>
</h6>
<div>
  <h1>Hozzászólás:</h1>
  <p>
    <%= recipe.comment %>
  </p>
</div>